* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lobster", cursive;
  color: white;

  background: radial-gradient(#454545, #2f323b);
  /* background: black; */
  background-repeat: no-repeat;
  min-height: 100vh;
}
