.project-page-container {
  /* animation-name: slideInFromLeft;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out; */
}

.project-lorem {
  text-align: center;
  margin-bottom: 30px;
}

/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */

/* @keyframes page-animate {
  0% {
    opacity: 0;
    transform: rotateX(0);
  }
  50% {
    opacity: 0.5;
    transform: rotateX(3.142rad);
  }

  100% {
    opacity: 1;
    transform: rotateX(0);
  }
} */
